body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin: 0;
}

.containner{
    text-align: center;
}

.input-containner{
    margin-top: 20px;
}
button{
    cursor: pointer;
}